.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin-bottom: 20px; /* Add some space below the logo */
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 10px;
}

.transactionInfo,
.confirmingInfo,
.confirmedInfo {
  margin-top: 10px;
}